<form method="post" action="/articles">
  <p>Title: <input id="title" type="text" name="title"></p>
  <p>Content: <input id="content" type="text" name="content"></p>
  <input id="submit" type="submit">
</form>